
.profile-top ion-item ion-img {
    width: 144px;
    height: 40px;
}
.profile-top ion-item ion-buttons {
    margin: 20px auto;
    position: relative;
    z-index: 9;
}
.profile-top .con-btn {
    margin: 5px auto 0;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0;
    text-transform: inherit;
}
.con-btn ion-icon {
    margin-right: 7px;
}
ion-title {
    font-size: 18px;
    color: #fff;
    text-align: center; 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.profile-top {
    padding: 10px 15px 20px;
}
.about-us {
    padding: 20px;
    text-align: center;
}
p {
    font-size: 13px;
    color: #747474;
    line-height: 22px;
}
h3 {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}
.about-us .con-btn {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    height: auto;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0;
    text-transform: inherit;
}
.login-bg .form-feild ion-label {
    margin-top: 0;
    -webkit-transform: translate3d(0, 50%, 0) scale(1);
    transform: translate3d(0, 50%, 0) scale(1);
    margin-bottom: 4px;
}
.over-icon {
    top: 25px;
}
.select-code {
    display: flex;
    left: 0;
    top: 30px;
    border-right: 1px solid #ddd;
    width: 80px;
    z-index: 9;	
    position: relative;
}
// .select-icon{
//     width: 13%;
// }
.mob-nubmer ion-input {
    padding-left: 65px !important;
    --inner-padding-start: 10px;
}
.select-code ion-select {
    --padding-top: 0px;
    --padding-end: 8px;
    --padding-bottom: 0px;
    --padding-start: 5px;
    --max-width: 38px;
    min-width: 60px;
    font-size: 13px;
}
.login-bg .form-feild ion-label {
    margin-top: 0;
    transform: translate3d(0, 50%, 0) scale(1);
    margin-bottom: 4px;
    font-size: 13px !important;
}
.login-bg ion-item {
    margin-bottom: 15px;
}
.custom-button {
    margin: 10px auto 0;
}
.login-bg {
    padding: 25px 25px 0;
    margin-bottom: 0px;
}
p {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 25px;
}