ion-header {
	background-color: #1a608e;
	background: linear-gradient(to bottom, #1a608e 1%, #1b8b86 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1a608e", endColorstr="#1b8b86",GradientType=0 );
	padding-top: 15px;
    padding-bottom: 15px;
}
ion-title {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
ion-header ion-buttons {
    min-width: 30px;
}
ion-toolbar {
    --min-height: 45px;

}
.stepe-right {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}
.chat-con-list {
    margin-top: 20px;
    padding: 0;
}
.chat-con-list ion-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #21B5AE;
}
.chat-con-list ion-thumbnail ion-img {
    width: 48px;
}
.chat-con-list h4 {
    font-size: 15px;
    color: #002423;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin: 0;
}
.chat-con-list h4 span {
    display: block;
    font-size: 13px;
    color: #747474;
    font-weight: 500;
    line-height: 20px;
}
ion-item {
    --background-activated: #EFF3F3;
}
.profile-icon-right {
    --color-activated: #fff;
    --background-activated:#21B5AE;
}
ion-checkbox {
    width: 40px;
    height: 40px;
    --border-width: 1px;
    --border-color: #D8D8D8;
    --border-radius: 40px;
    border-radius: 40px;
    --background-checked: #21B5AE;
    --border-color-checked: #21B5AE;
    margin-inline-end: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline-start: 0px;
    --size: 12px; 
    --padding: 6px;
}
.select-service ion-item {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 5px;
    --padding-bottom: 5px;
}
ion-checkbox.checkbox-checked {
    background: #21B5AE;
    padding: 10px;
    border-radius: 5px;
    --checkmark-width: 4px;
}
ion-item.item-checkbox-checked {
    --background: #EFF3F3;
}
ion-checkbox.ios.checkbox-checked {
    --checkmark-width: 2px;
    padding: 6px;
}
ion-list.pick-month {
    background: transparent;
}
.pick-month ion-item {
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
}
.pick-month ion-item ion-label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.pick-month ion-item ion-select {
    background: #21B5AE;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 11px;
    --padding-start: 18px;
    max-width: 55%;
    min-width: 90px;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    font-family: "Raleway", sans-serif;
}
ion-list.pick-month {
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
}
.setect-date {
    margin: 0 -4px;
    padding: 0;
    display: flex;
    white-space: nowrap;
    overflow: auto;
}
.setect-date li {
    display: block;
    margin: 0 2px;
}
.date-btn {
    min-width: 65px !important;
    min-height: 65px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    white-space: normal;
    text-align: center;
    display: block;
    border-radius: 60px;
    line-height: 22px;
    padding: 12px 0 9px;
    font-family: "Raleway", sans-serif;
}
.date-btn:hover, .date-btn:focus {
    background: #fff;
    color: #21B5AE; 
}
.date-btn span {
    display: block;
    font-size: 12px;
    font-weight: 500;
}
.pick-time h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 20px;
    font-family: "Raleway", sans-serif;
}
.pick-time {
    padding-top: 25px;
}
.pick-time-list ion-label {
    font-size: 18px;
    color: #747474;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
.pick-time-list ion-item {
    --padding-start: 20px;
    --padding-end: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --background-activated: #EFF3F3;
    --background-hover: #EFF3F3;
}
.pick-time-list ion-item:hover {
    --background-activated: #EFF3F3;
    --background: #EFF3F3;
}
.pick-time-list ion-item:hover  ion-label {color: #21B5AE;}
.pick-time-list ion-item:hover .profile-icon-right {
    color: #fff;
    background: #21B5AE;
}