<ion-header>
	<ion-toolbar>
	    <ion-buttons slot="start" href="#">
	      <ion-icon name="arrow-back-outline"></ion-icon>
	    </ion-buttons>
	    <ion-title>Privacy Policy</ion-title>
	    <ion-buttons slot="end" href="#">
	      <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
	    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
	<div class="term-cond">
		<p>{{this.policy}}</p>

		<ion-button href="#" expand="block" fill="clear" class="btn-full" [routerLink]="['/aboutUs']">ok</ion-button>
	</div>
</ion-content>
