<ion-content>
	<div class="full-bg">
		<div class="login-box">
			<div class="login-logo"><ion-button href="#" fill="clear"><ion-img src="../../assets/img/logo.png"></ion-img></ion-button></div>
			<div class="login-bg">
				<div class="image-top"><ion-img src="../../assets/img/forgot_password.png"></ion-img></div>
				<h3>Forgot Password</h3>
				<p class="sub-text">Enter the email address associated with your account. we will email you a link to reset your password</p>
				<form [formGroup]="forgotForm">
					<ion-list>
						<ion-item class="form-feild">
						<ion-label position="floating">Email Address</ion-label>
						<ion-input formControlName = "email"></ion-input>
						<ion-button href="#" fill="clear" class="over-icon"><ion-img src="../../assets/img/mail-icon.png"></ion-img></ion-button>
						<p class="validation-error" *ngIf="forgotForm.controls.email.errors  && 
						forgotForm.controls.email.dirty">Please enter valid email</p>	
					</ion-item>
						
						<ion-item class="form-feild button-feild" lines="none">
						<ion-button class="custom-button" [disabled]="!forgotForm.valid" (click)="doForgot()">Send Link</ion-button>
						</ion-item>
						<ion-item class="form-feild" lines="none">
							<p><ion-button fill="clear" class="back-to-btn" [routerLink]="['/login']">Back to Signin</ion-button></p>
						</ion-item>
						
					</ion-list>
				</form>	
			</div>
			
		</div>
	</div>
</ion-content>
